RewriteEngine On

AddDefaultCharset UTF-8
AddType text/css .css
AddType application/javascript .js

# Redirect all requests to index.html if the file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L,QSA]
